@import "../../assets/scss/base/variables";

.solutions {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px 0;
	background-color: $light;
	text-align: center;
	h1{
		margin-bottom: 70px;
		padding: 0 20px;
	}

	&_cards {
		display: flex;
		flex-direction: row;
		column-gap: 22px;
		padding: 0;

		@media (max-width: $width-sm){
			display: flex;
			flex-direction: column;
			column-gap: 0;
			row-gap: 64px;
		}
	}
}



